{% extends 'layout.html' %}
{% block title%}
Home
{% endblock title%}

{% block content%}
	<form method="post">
		{%csrf_token%}
	 {% comment %} <table>
			<tr>
				<td>{{admission_form.id.label_tag}}</td><td>{{admission_form.id}}</td>
			</tr>
			<tr>
				<td>{{admission_form.stu_name.label_tag}}</td><td>{{admission_form.stu_name}}</td>
			</tr>
			<tr>
				<td>{{admission_form.stu_father.label_tag}}</td><td>{{admission_form.stu_father}}</td>
			</tr>
			<tr>
				<td>{{admission_form.joindate.label_tag}}</td><td>{{admission_form.joindate}}</td>
			</tr>
			<tr>
				<td>{{admission_form.stu_class.label_tag}}</td><td>{{admission_form.stu_class}}</td>
			</tr>
			<tr>
				<td>{{admission_form.fees.label_tag}}</td><td>{{admission_form.fees}}</td>
			</tr>
			<tr>
				<td colspan=2 align=right>
					<input type="submit" value="Add New Admission"/>
				</td>
			</tr>
		</table> {% endcomment %}
<div style="width:400px;margin:auto;padding:10px;">
	<div style="display:flex;flex-direction:column;">
		<label>ID</label>
			<input type="number" name="id" id="id"/>
	</div>

		<div style="display:flex;flex-direction:column;">
				<label>Name</label>
					<input type="text" name="stu_name" id="stu_name"/>
		</div>
		<div style="display:flex;flex-direction:column;" >
				<label>Father Name</label>
					<input type="text" name="stu_father" id="stu_father"/>
				</div>
				<div style="display:flex;flex-direction:column;">
				<label>Date of Join</label>
				<input type="date" name="joindate" id="joindate"/>
				</div>
				<div style="display:flex;flex-direction:column;">
				<label>Course</label>
					<input type="text" name="stu_class" id="stu_class"/>
				</div>
				<div style="display:flex;flex-direction:column;">
				<label>Fees</label>
					<input type="number" name="fees" id="fees"/>
				</div>
			<div style="display:flex; flex-direction:row-reverse;padding-top:10px;">
					<input type="submit" value="Add New Admission"/>
			</div>
		</div>
</div>
</div>
{% endblock content%}
